@model SSImplementation.Models.Studio

@{ 
    Layout = "~/Views/Shared/_LayoutListings.cshtml";
}

<div align="center">
    <h1>@Model.StudioName</h1>
    <br />
    <img class="StudioListingPagePicture" src="~/StudioPictures/@Model.User.Id/@Model.pictureOfRoom" />
    <p><b>Studio Type: @Html.DisplayFor(Model => Model.Type)</b></p>
    <div>
        <div class="row">
            <div class="container">
                <div class="col-lg-6">
                    <h2>Owner</h2>
                    <p>@Model.User.Profile.DisplayName</p>
                    <h2>
                        Studio Description
                    </h2>
                    <p>@Model.ListingDescription</p>
                    <h2>
                        Location
                    </h2>
                    <p>@Model.Address</p>
                    <p>@Model.City,@Model.State  @Model.ZipCode</p>
                    <h2>
                        Price
                    </h2>
                    <p>$@Model.PricePerHour/hr</p>
                    <p>Cancellation fee: $@Model.CancellationFee</p>
                    <h2>
                        Miscellaneous
                    </h2>
                    <p>Studio Rules: @Model.StudioRules</p>
                    <p>Number of rooms: @Model.numberOfRooms</p>
                </div>
            </div>
        </div>
    </div>
</div>